@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #f7f7f7;
  font-family: Tahoma;
  font-size: 16px;
}

.text-start {
  margin: -20px;
}

.col-sm-6 {
  padding: 20px;
}

.sm-3custom {
  padding-left: 60px;
  margin-left: 20px;
  margin-top: -20px;
}
.col-sm-2 {
  margin-left: -90px;
}
.col-lg-6 {
  --bs-gutter-x: 0px !important;
  --bs-gutter-y: 0px !important;
}

.formField {
  width: 80%;
  height: 50px;
  top: 646px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: left;
}

.regHeader {
  width: 100%;
  height: 200px;
  margin-bottom: 40px;
  margin-top: 80px;
}

.regtext {
  padding-left: 300px;
  padding-top: 30px;
  margin-bottom: 10px !important;
  font: 800 30px/35px Inter, sans-serif;
  color: #950014;
}

.container-md {
  border-style: solid;
  margin: 0px auto;
  width: 900px !important;
  border-color: #950014;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: #f8f0c6;
}

.title_form {
  border-bottom: 3px solid #950014;
  margin: 0px auto;
  width: 100%;
  border-color: #950014;
  background-color: #950014;
  color: #fff;
}
form {
  width: 60vw;
  max-width: 500px;
  min-width: 880px;
  margin: 0 auto;
  padding-top: 1em !important;
  height: auto;
  overflow: hidden;
}

label {
  text-align: left;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 3em;
  padding-left: 10px;
}
input,
textarea {
  background-color: #ffffff;
  border: 1px solid #950014;
  color: #9f9f9f;
  border-radius: 5px;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  display: inline;
}
::placeholder {
  color: #9f9f9f;
}

.form_title {
  text-align: left !important;
  font: 700 18px/20px Inter, sans-serif;
  color: #000;
  text-align: left;
  justify-content: left;
  margin-left: 90px;
  margin-bottom: -10px;
}

.thin-rectangle {
  width: 800px;
  height: 2px;
  border: 2px solid #fad103;
  margin-left: 40px;
}

.submitButton {
  width: 780px;
  height: 50px;
  border-radius: 9px;
  background-color: #950014 !important;
  color: #fff;
  margin-bottom: 40px;
}

.centerElement {
  text-align: center;
  justify-content: center;
}
