@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  scroll-behavior: smooth;
}
.main_container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: auto;
  margin-top: 180px;
  margin-bottom: 180px;
  flex-wrap: nowrap;
}
.row_organization {
  justify-content: center;
  display: flex;
  width: auto;
  margin-left: 45px;
}
.card {
  width: 360px;
  height: 600px !important;
  margin-bottom: 50px;
  padding-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden !important;
  text-align: center !important;
  margin-top: 20px;
}
.col {
  float: left;
  margin-left: 60px !important;
  margin-right: -100px;
  display: flex;
  flex: 0 1 200px;
}
.card_img {
  height: 260px;
  width: auto;
}
/*Card Title*/
.title {
  color: #950014 !important;
  font-weight: 900;
  font-size: 25px;
  font-family: "Inter";
  margin-top: -5px;
}
/*Organization Facebook*/
.facebook_container {
  display: flex;
  justify-content: center;
}
.facebook_container i {
  margin-top: 0;
  color: #808080;
}
.facebook {
  margin-top: -3px;
  color: #808080;
}
.facebook_container a {
  text-decoration: none;
}
/*Organization Mail*/
.mail_container {
  margin-top: -8px;
  display: flex;
  justify-content: center;
}
.mail_container i {
  margin-top: 0;
  color: #808080;
}
.mail {
  margin-top: -3px;
  color: #808080;
}
/* Card Description*/
.desc {
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 400;
}
.course_header {
  width: 100%;
  height: 240px;
  margin-bottom: 78px;
  margin-top: -63px;
}

.col-md-4 {
  --bs-gutter-x: 0px;
  --bs-gutter-y: 0;
}
.apply_button {
  margin-top: 10px;
  width: 90%;
  border-radius: 20px;
  height: 2.5em;
  border-style: solid;
  background-color: #f8f0c6;
  border-color: #510400;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 800;
  position: absolute;
  bottom: 20px; /* Set button position 10px from the bottom */

  left: 50%; /* Center the button horizontally */
  transform: translateX(
    -50%
  ); /* Offset the button to compensate for centering */
}

.apply_button:hover {
  background-color: #510400; 
  
  color: #f8f0c6;
}
